@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

/* Basic reset */
body, h1, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    margin-top: 30px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
}

.buttons {
    margin-bottom: 20px;
}

button {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #138496;
}

#resetButton {
    background-color: #dc3545;
}

#resetButton:hover {
    background-color: #bd2130;
}

#speakButton {
    background-color: #28a745;
}

#speakButton:hover {
    background-color: #218838;
}
